.trybecoins__container__false {
  display: none;
}

.trybecoins__container__true {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--background);
  padding: 1rem;
  font-family: var(--font-base);
  font-size: 1.1rem;
}

.trybecoins__transaction_box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 16px;
  font-family: var(--font);
  font-weight: 600;
  opacity: 1;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  height: 400px;
  width: 400px;
  border-radius: 8px;
}

.trybecoins__transaction_example {
  display: flex;
  gap: 8px;
  font-family: var(--font);
  font-weight: 400;
  align-items: center;
  border-radius: 8px;
  font-style: italic;
}

.trybecoins__transaction_values {
  display: flex;
  gap: 8px;
  font-family: var(--font);
  font-weight: 600;
  align-items: center;
}

.trybecoins__transaction_box input {
  border: 0;
  background-color: var(--white);
  color: var(--background);
  font-family: var(--font);
  padding: 8px;
  border-radius: 4px;
  width: 4rem;
  font-weight: 800;
}

.trybecoins__transaction_box button {
  border: 0;
  background-color: var(--green);
  color: white;
  font-family: var(--font);
  font-weight: 800;
  padding: 8px;
  border-radius: 4px;
  width: 250px;
  cursor: pointer;
}

.trybecoins__transaction_box button:nth-of-type(2) {
  border: 0;
  background-color: var(--white);
  color: var(--background);
}