:root {
/*   --font: 'Montserrat', sans-serif;

  --primary: #814FEF;

  --primary-light: #aa33b5;

  --secondary: #AA33B5;

  --background: #171833;

  --white: #DCDCE0;

  --red: #E85255; */

  --green: #3A9A7A;

  --gradient: linear-gradient(114.7deg, #dc3f89 31.5%, #903edd 100%);
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-dark);
  color: white;
  font-family: var(--font);
  letter-spacing: 0.05rem;
}

.header a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo img {
  width: 50px;
}

.nav {
  display: flex;
  gap: 20px;
  margin-right: 30px;
}

.nav > div > button {
  background-color: transparent;
  color: white;
  border: none;
}

.nav > div > button:hover {
  cursor: pointer;
  color: var(--primary-light);
  transition-duration: 0.3s;
}

.nav a:hover {
  cursor: pointer;
  color: var(--primary-light);
  transition-duration: 0.3s;
}

.options-nav {
  border: solid 2px var(--white);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:absolute;
  left:0;
  right:0;
  top: 20%;
  margin-left:auto;
  margin-right:auto;
  background-color: var(--background);
  width: 500px;
  height: 150px;
}

.how_to_play {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.how_to_play:hover {
  color: var(--primary-light);
  transition-duration: 0.3s;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options .buttons {
  display: flex;
  gap: 25px;
}

.options .buttons button:hover {
  color: var(--primary);
  cursor: pointer;
  transition-duration: 0.3s;
}

.options button {
  background-color: transparent;
  color: white;
  border: none;
}

.option-selected {
  color: var(--primary-light)
}

.close-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  color: var(--white);
}

.close-btn:hover {
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

.open-btn {
  font-family: var(--font);
}


