@import '../../App.css';

.canvas {
  color: #9c58db10;
  max-width: 1000px;
  min-width: 800px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: var(--white);
  gap: 1rem;
  background-color: transparent;
}

.stop-game-btn {
  width: 200px;
  height: 40px;
  background-color: var(--secondary);
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
}

.stop-game-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition-duration: 0.3s;
}

.stop-game-btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
  transition-duration: 0.3s;
  background-color: gray;
}

.multiplier-container {
  font-size: 2rem;
  font-family: var(--font);
}
