.login-container {
  font-size: 1rem;
  font-family: var(--font);
  letter-spacing: 0.05rem;
}

.login-button {
  font-size: 1rem;
  font-family: var(--font);
  background-color: var(--green);
  text-align: center;
  padding: 12px;
  margin: 8px 0;
  border: 0;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 800;
}

.spinner {
    animation: rotate 2s linear infinite;
}

.wallet-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.balances-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.1rem;
}

.trybecoins_box {
  background-color: var(--green);
  text-align: center;
  padding: 12px;
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 16px;
  cursor: pointer;
}

.klv-icon {
  width: 15px;
  border-radius: 50%;
}


@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}