@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --font: 'Montserrat', sans-serif;

  --primary: #814FEF;

  --secondary: #AA33B5;

  --background: #14152C;

  --white: #DCDCE0;

  --red: #E85255;

  --green: #3A9A7A;

  --gradient: linear-gradient(114.7deg, #dc3f89 31.5%, #903edd 100%);
}

.App {
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
}
