.game_control__container {
  background-color: var(--background);
  height: 700px;
  max-width: 350px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 350px;
  background-color: var(--background);
  font-family: var(--font);
  height: 530px;
  padding: 1.5rem;
  border-right: 1px solid var(--white);
  /* border-radius: 10px; */
}

.form-container__info-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 1rem;
  padding: 0 1.5rem;
}

.form-container__trybecoins {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font);
  margin: 4px 0;
  font-size: 1.1rem;
}

.bet-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.bet-amount-container__place-bet-amount {
  all: unset;
  background-color: var(--white);
  color: var(--background);
  text-align: center;
  font-family: var(--font);
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 5px;
  width: 40%;
  height: 3.5rem;
}

.bet-amount-container__bet-option {
  all: unset;
  text-align: center;
  font-family: var(--font);
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--background);
  height: 100%;
  width: 25%;
  border-radius: 5px;
  background-color: rgb(100, 100, 140);
}

.bet-amount-container__bet-option:hover {
  background-color: var(--secondary);
  transition: 0.3s;
  transition-timing-function: ease-in;
}

.bet-amount-container__bet-option:active {
  background-color: var(--red);
  transition: 0.1s;
  transition-timing-function: ease-in;
}

.form-container__cta {
  all:unset;
  text-align: center;
  justify-self: flex-end;
  font-weight: 900;
  font-size: 1.5rem;
  font-family: var(--font);
  color: var(--white);
  background-color: var(--red);
  padding: 1rem 0;
  width: 100%;
}

.form-container__cta:hover {
  cursor: pointer;
}

.form-container__cta:active {
  background-color: var(--white);
  color: var(--background);
  transition: 0.1s;
}

.form-container__cta:disabled {
  background-color: gray;
}

.form-validation {
  color: var(--red);
  margin-bottom: 4px;
  font-weight: 500;
  font-style: italic;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  gap: 1rem;
  width: 100%;
  background-color: var(--background);
}